<!DOCTYPE html>
<html>
  <head>
    <title> Yasaswini careers </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner1 {
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
      </style>
  </head> 
    <body>
      {% include 'nav.html' %}
      <img class="img-fluid" id= "banner1" src = "https://8f4537b0-3469-4072-96a4-16c3b3c880d9-00-n9nqtldvjash.sisko.replit.dev/static/banner3.jpg">
      <div class = "container">
      <h1 class = "text-center mt-2 mb-4">{{company_name}} careers</h1> 
      
      <div class="row" style="margin-bottom:16px;">
        <div class="col-md-6">
      <p class="lead">Explore remote friendly, flexible job opportunities and join our mission to make work life simple, better and productive. we're building a culture where amazing people like you can do their best work. if you are ready to grow your career and help millions of organizations grow better, you've come to the right place. </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src = "/static/people.jpg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class = "text-center mt-2 mb-4">Job openings</h2>
      <div>
        {% for job in jobs %}
         {% include 'jobitem.html' %}
        {% endfor %}
      </div>
        <div class = "text-center">
      <a class="btn btn-primary btn-lg" href="mailto:hello@yasaswini.ai?subject=Question%20about%20job%20openings&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20Questions%3A%20%3Center%20your%20question%20here%3E">Contact us</a>
 
        </div>
      
        
      </div>
      {% include 'footer.html' %}
    </body>
</html>
